$preevuu-font: "Rubik", "Helvetica Neue", Helvetica, sans-serif;

.title-bar li {
	font-family: $preevuu-font;
}

.style-section {
	margin-bottom: 50px;
}

.style-section > header h1 {
	font-family: $preevuu-font;
	border-bottom: 1px solid #888;
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.outer-wrap {
	margin-bottom: 25px;
}

.card-divider {
	font-family: $preevuu-font;
}

.card {
	margin-bottom: 0;
}

.description {
	display: block;
	@media screen and (min-width: 40em) {
	float: left;
	}
}

.syntax {
	display: block;
	margin-top: 10px;
	@media screen and (min-width: 40em) {
	float: right;
	margin-top: 0;
	}
}

.toggle {
	border: 1px solid #e6e6e6;
	border-top: 0;
	background: #e6e6e6;
	margin-top: -2px;
	display: inline-block;
}

.toggle:hover {
	background: #d2d2d2;
}

button.info {
	font-family: $preevuu-font;
	font-size: 11px;
	font-weight: bold;
	padding: 0 10px 5px;
	text-transform: uppercase;
	cursor: pointer;
}

.info-content {
	display: none;
	font-size: 14px;
	padding: 1rem;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-top: 0;

}
.info-content.expanded {
	display: block;
}

.color {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.color p.reverse {
	color: #fff;
}

.color.blue-dark {
	background: #29353f;
}

.color.blue-light {
	background: #97b9c1;
}

.color.green {
	background: #4e8b8d;
}

.color.beige {
	background: #d5cbc1;
}

.color p {
	text-align: center;
}

#layouts ul {
	clear: both;
}

.title-bar .menu > li > a {
  color: #fff;
  background: #484848;
  margin: 0 5px;
  border-radius: 2px;
  
  &.active,
  &:hover {
  	background: #5cb2f2;
  }
}

    