body {
  background: $outer-bg-color;
  color: $primary-font-color;
  font-family: $primary-font-family;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  @include responsive-margin('bottom', $base-margin/2);
}

p:last-of-type {
  margin-bottom: 0;
}

img {
  display: block;
  margin-bottom: rem-calc(20);
}

img.align-left,
img.align-center,
img.align-right {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: auto;
}

@include breakpoint(medium) {
  img.align-left {
    float: left;
    margin-left: 0;
    margin-right: rem-calc(20);
  }
}

@include breakpoint(medium) {
  img.align-right {
    float: right;
    margin-right: 0;
    margin-left: rem-calc(20);
  }
}


.parallax {
  background-attachment: fixed;
  background-color: $black;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  background: $white;
  margin: 0 auto;
  max-width: $max-width;
}

header.sticky-container + main.content {
  margin-top: $header-height;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}

.row {
  position: relative;
}

.bg-image {
  background-size: cover;
  background-position: 50% 0;
}

.bg-image,
.bg-dark,
.bg-video {
  color: $reverse-font-color;
}