  <footer class="site-footer">
    <div class="row align-center">
      <div class="col-sm-12">
        <div class="site-footer__menu">
          <ul class="vertical medium-horizontal menu footer-menu">
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
          </ul>
        </div>
        <div class="site-footer__copyright text-center">
          <p>Copyright 2017</p>
        </div>
      </div>
    </div>
  </footer>
</div><!-- end .wrapper -->
