<div class="off-canvas right" id="offCanvas" data-toggler=".is-active">
    <ul class="vertical menu">
      <li><a href="#">Menu Item</a></li>
      <li><a href="#">Menu Item</a></li>
      <li><a href="#">Menu Item</a></li>
      <li><a href="#">Menu Item</a></li>
    </ul>
    <button class="button off-canvas-close" data-toggle="offCanvas"><img src="assets/img/x.svg" alt=""></button>
</div>

<div class="wrapper">
  
  <header class="site-header" data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" data-sticky-on="small">
      <div class="row align-middle align-justify">
        <div class="brand column shrink">
          <a href="index.html" class="logo">
            <!-- <img src="assets/img/logo.svg" alt="" class="logo-pic editable-svg"> -->
            Brand Logo
          </a>
        </div>
        <nav class="primary-navigation column shrink">
          <ul class="vertical medium-horizontal menu show-for-medium">
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
          </ul>
          <button class="hamburger hide-for-medium" type="button" data-toggle="offCanvas" aria-expanded="false" aria-controls="offCanvas">
            <span class="hamburger-line hamburger-line1"></span>
            <span class="hamburger-line hamburger-line2"></span>
            <span class="hamburger-line hamburger-line3"></span>
          </button>
        </nav>
      </div>
    </div>
  </header>