.component {
	@include responsive-margin('top', $base-margin/2);
	&:first-of-type {
		margin-top: 0;
	}
}

.row.has-one-column .component {
	&:last-of-type {
		@include responsive-margin('bottom', $base-margin/2);
	}
}

.has-2-cols .component,
.has-3-cols .component,
.has-4-cols .component {
  @include responsive-margin('top', $base-margin/2);
  &.stack-order-1 {
    margin-top: $base-margin;
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }
}

.has-2-cols .col-1 .component,
.has-3-cols .col-1 .component,
.has-4-cols .col-1 .component {
  &.stack-order-1 {
    margin-top: 0;
  }
}

.has-one-column header.component + .component.default,
div.component:first-of-type + header.component:first-of-type {
	@include responsive-margin('top', $base-margin/2);
}